#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;

}

footer p a {
    margin: 5px 15px;
    text-decoration: none;
    color: #a77e03;
}

footer p a:hover {
    margin: 5px 15px;
    text-decoration: none;
    color: #584200;
}